@font-face {
    font-family: 'Cuprum-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cuprum-Regular'), url('../assets/fonts/Cuprum-Regular.ttf') format('truetype');
}

html,
body {
    font-size: 14px;
    background-color: #303030;
    font-family: Cuprum-Regular;
    color: #ffffff;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.alignment {
    vertical-align: bottom;
}

.card {
  border-radius: 3px;
  display: grid;
  background-color: #343a40;
  border: solid 1px #ffffff;
  height: 180;
  margin: 3px;
  width: 120px;
  z-index: 5;
 
}

.card img {
  border-radius: 3px;
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.card h6 {
  text-align: center;
}

.card button {
  display: block;
  margin: 0 auto;
}

.container {
    max-width: 960px;
}

.btn-group-fab {
    position: fixed;
    width: 50px;
    height: auto;
    right: 20px;
    bottom: 16px;
    z-index: 1000;
}

.btn-group-fab div {
    position: relative;
    width: 100%;
    height: auto
}

.btn-group-fab .btn {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    display: block;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    margin: 4px auto
}

.btn-group-fab .btn-main {
  background: #343a40;
  border: solid 1px #ffffff;
  width: 60px;
  height: 60px;
  right: 50%;
  margin-right: -25px;
  z-index: 0;
}

.parent {
    display: flex;
    height: 100%;
    width: 100%;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form img {
    display: flex;
    margin: 0 auto;
}

.form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form .form-control:focus {
    z-index: 2;
}

.form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hide {
    display: none;
}

.line {
    border-bottom: solid 1px #f8f9fa;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-content {
    border-radius: 9px;
}

.modal-dark {
    width: 100%;
    background-color: #35363A;
    border: solid 2px #3C4043;
    border-radius: 8px;
}

.modal-footer {
  border-top: 2px solid #3C4043;
}




input#menu {
    display: none;
}

.icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

label.icon {
    z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #FFFFFF;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: #FFFFFF;
}

.icon .menu {
    left: 18px;
    top: 25px;
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}




.page-splash {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    background-color: #343A40;
    z-index: 10000;
    position: fixed;
    color: white;
}

video {
  object-fit: scale-down;
  background-color: #343a40;
}

.border-bottom {
  background-color: #fff;
}

.image-size {
  border: solid 1px #ffffff;
  border-radius:5px;
  height:180px;
  width:120px;
}

.scroll {
    color: #fff;
    font-size: 9pt;
    overflow-y: auto;
    height: 90px
}

.scroll::-webkit-scrollbar {
    width: 6px
}

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px
}

.scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    border: solid 1px #fff
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555
}

.marquee {
  background-color: #343a40;
  height: 30px;
  z-index:100;
}
.marquee > .status {
  line-height: 30px;
  display: block;
}


